@import "@styles/theme.scss";

.home-recommend-sec {
  background: $backgorund-color;
}

.home-recommend-sec__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;

  &-txt {
    color: $black;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
  }
}

.home-recommend-sec__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0px;
  background: $backgorund-color;
  
  &-item {
    display: flex;
    margin: 15px 11px 0 11px;
    flex-direction: column;
    background-color: $backgorund-color;
    width: 47%;
    
    &-desc {
      padding: 0px 20px 5px 20px;
      color: #666666;
      font-size: 26px;
      background-color: $white;
      border: 0 solid $border-color;
      border-left-width: 1px;
      border-right-width: 1px;
      @include lamp-clamp(3);
    }

    &-img {
      padding: 25px 25px 10px 25px;
      background-color: $white;
      height: 185px;
      line-height: 185px;
      text-align: center;
      border: 0 solid $border-color;
      border-left-width: 1px;
      border-right-width: 1px;
      &-ins{
        align-self: center;
        width: 80%;
        height: 100%;
      }
    }

    &-info {
      // margin-top: 20px;
      display: flex;
      flex-direction: column;
      background-color: $white;
    }

    &-btn{
      background-color: white;
      border-bottom-right-radius:10px;
      border-bottom-left-radius:10px;
      border: 0 solid $border-color;
      border-left-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      width: 100%;
      height: 110px;
      /*postcss-pxtransform rn eject enable*/
      padding: 25px 0 0 0;
      /*postcss-pxtransform rn eject disable*/
      text-align: center;
      &-ins{
        height: 50px;
        width: 120px;
        border-radius: 10px;
        align-self: center;
        margin: auto;
        
        background-color: $primary-color;
      }
      &-txt{
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        color: #fff;
        text-align: center;
      }
    }

    &-name {
      color: $text-color;
      background-color: $white;
      font-size: 30px;
      color: #000000;
      line-height: 70px;
      text-align: center;
      border: 0 solid $border-color;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-width: 1px;
      border-top-right-radius:10px;
      border-top-left-radius:10px;  
      
      @include text-ellipsis;
    }
  }
}

.home-recommend-sec__list2 {
  background: #f2f2f2;
  // margin: 5px 0px;

  &-item {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    border: 0 solid $border-color;
    border-bottom-width: 1px;
    height: 150px;
    

    &-img {
      align-self: center;
      margin: 0px 15px;
      height: 110px;
      &-ins{
        width: 180px;
        height: 110px;
      }
    }

    &-info {
      // margin-top: 20px;
      display: flex;
      flex-direction: column;
    }

    &-btn{
      background-color: $primary-color;
      border-radius: 10px;
      // margin: 55px 35px;
      margin: auto;
      height: 50px;
      width: 120px;
      text-align: center;
      &-txt{
        // vertical-align: top;
        height: 49px;
        line-height: 49px;
        align-self: center;
        font-size: 24px;
        color: #ffffff;
        text-align: center;
      }

    }

    &-text{
      display: flex;
      flex-direction: column;
      padding: 10px 0px;
      width: 45%;
      
      &-name-sec {
        color: $text-color;
        font-size: 30px;
        line-height: 135px;
        color: #000000;
        font-weight:normal;
        text-align: left;
        
        @include text-ellipsis;
          
      }

      &-desc {
        color: #666666;
        font-size: 24px;
        // background: #fff;
        text-align: left;
        @include lamp-clamp(3);
      }
    }
  }
}

/*postcss-pxtransform rn eject enable*/

.home-recommend-sec__list-item-btn-ins-h5{
  height: 50px;
  width: 120px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  line-height: 30px;
  background-color: $primary-color;
}

.home-recommend-sec__list2-item-btn-txt-h5{
  vertical-align: top;
  line-height: 50px;
  // height: 50px;
  padding: 10px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

/*postcss-pxtransform rn eject disable*/

