@import "@styles/theme.scss";

.search {
    display: flex;
    justify-content: space-between;
    height: 80px;
    flex-direction: row;

    padding: 0 20px;

    background-color: $backgorund-color;
    color: $primary-color;
    
}


.img-view {
    padding: 5px 0;
}

.img-view_rn {
    padding: 20px 0;
}

.img {
    width: 50px;
    height: 40px;
}

.input-view {
    margin: 10px 0;
}

.input {
    width: 500px;
    height: 60px;
    padding: 0px 20px;
    border: 1px solid #DCDFE6;
    border-radius: 10px;
    background-color: #ffffff;
}

.card-input {
    height: 60px;
    text-align: left;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
}

.button-view {
    font-size: 28px;
    line-height: 80px;
    text-align: center;
    color:$primary-color;
}