@import "@styles/theme.scss";

.change {
    height: 240px;
    display: flex;
    flex-direction: column;
    background-color: $backgorund-color;
}

.change-name {
    height: 120px;
    line-height: 120px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 30px;
}

.change-btn {
    height: 120px;
    text-align: center;
    &-ins{
        color: $white;
        background-color: $primary-color;
        margin: 30px auto;
        padding: 5px 25px;
        text-align: center;
        height: 70px;
        width: 30%;
        line-height: 60px;
        border-radius: 10px;
        font-size: 28px;
    }
}