@import "@styles/theme.scss";


/*postcss-pxtransform rn eject enable*/


.info-save {
    // height: 200px;
    height: 100PX;

    font-size: 32px;
    text-align: center;
}

.info-save-intro {
    // height: 100px;
    // line-height: 100px;
    height: 50PX;
    line-height: 50PX;

    font-weight: bold;
}

.info-save-btn-view {
    // height: 100px;
    height: 50PX;
}

.info-save-btn {
    width: 200px;
    height: 25PX;
    line-height: 25PX;

    font-size: 28px;

    margin: 0 auto;

    border-radius: 10px;

    background-color: $primary-color;
    color: $white;
}

/*postcss-pxtransform rn eject disable*/

.info-save-rn {
    height: 200px;
    &-intro{
        height: 100px;
        justify-content: center;
        align-self: center;
        &-txt{
            color: #000;
            line-height: 50px;
            font-weight: bold;
            text-align: center;
            font-size: 32px;
        }
    }
    &-btn{
        height: 100px;
        justify-content: center;
        align-self: center;
        &-view{
            width: 200px;
            height: 50px;
            margin: 0 auto;
            border-radius: 10px;
            background-color: $primary-color;
            
        }
        &-txt{
            color: $white;
            line-height: 50px;
            font-size: 28px;
            text-align: center;
        }
    }
}