@import "@styles/theme.scss";

.base-info-input-view {
    background-color: $white;
}

.base-info-input {
    margin-left: 25px;
}

.base-info-input-verify {
    display: flex;
    flex-direction: row;
    border: 0 solid $border-color;
    border-bottom-width: 1px;
}

/*postcss-pxtransform rn eject enable*/

.base-info-input-verify-btn-view {
    text-align: right;
    width: 30%;
    height: 80px;
}

.base-info-input-verify-btn {
    vertical-align: top;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 130px;
    padding: 3px;
    background-color: $white;
    border: 1px solid $primary-color;
    border-radius: 10px;
    color: $primary-color;
    font-size: 25px;
}

/*postcss-pxtransform rn eject disable*/

.base-info-input-verify-btn-vie-rn {
    text-align: center;
    width: 20%;
}

.base-info-input-verify-btn-rn {
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 130px;
    padding: 1px;
    margin: 20px 0;
    background-color: $white;
    border: 1px solid $primary-color;
    border-radius: 10px;
    color: $primary-color;
    font-size: 20px;
}


.verify-text-input {
    display: flex;
    height: 80px;
    flex-direction: row;
    line-height: 80px;
    
    font-size: 30px;
}

.verify-text-input-name {
    width: 35%;
    &-txt{
        line-height: 80px;
        text-align: left;
        color: #000;
    }
}

// .verify-text-input-item-view {
//     width: 50%;
//     margin-right: 30px;
// }

.verify-text-input-item {
    width: 330px;
    text-align: right;
    line-height: 75px;
    height: 75px;
    // height: 100%;

    padding: 0;
}